.node-readmore a {
  //@include o-spread-link();
  @include icon(instagram, after);
  &:before {
    color: color(ok); 
  }

  @include sprite(twitter);

  // @extend .sprite;

  // @include sprite-facebook(); 
  
}

.field--name-field-image {
  @include o-full-width();
  background-color: red; 
}

.menu {
  @include o-list-bare();
  background: pink; 
}

.menu-item {
  @include o-list-bare__item();
  border: 1px solid ;
}

.tabs {
  @include o-list-inline();
  @include clearfix();
}

.tabs li {
  @include o-list-inline__item();
}