.node-readmore a {
  //@include o-spread-link();
  @include icon(instagram, after);
  &:before {
    color: color(ok);
  }

  // @include sprite(twitter);

  // @extend .sprite;

  // @include sprite-facebook();

}

.field--name-field-image {
  @include o-full-width();
  background-color: red;
}

.menu {
  @include o-list-bare();
}

.menu-item {
  @include o-list-bare__item();
}


.feed-icon {
  @include hide-text();
  @include icon(instagram);
  &:before {
    font-size: rem(25px);
    color: color(body);
  }
}

.block-system-powered-by-block {
  @include text-overflow();
}
